{% load static %}
<title>Генератор паролий</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

<div class="container">
    <h2>Генератор паролей</h2>
    <p>Сайт предназначен для генерации случайного пароля,
        можно сгенерировать пароль любой длины иf сложности, который будет содержать в себе буквы верхнего и нижного регистра, цифры и спец. символы</p>
    <a href="{% url 'home' %}">Home</a>
</div>
    <span class="copy">&copy: 2021, Силантьев Максим</span>
    <br><br>

